
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-10">
              <h1 class="display-3  text-white">J-tecnology
                <span>Misión</span>
              </h1>
                <h4 class="text-white">La misión de la empresa J-tecnology se focaliza en la creación y gestión de servicios TIC, 
                  orientados principalmente a la pequeña y mediana empresa. Ofrecemos soluciones 
                  diferenciadas en 6 áreas de negocio, con las que podemos cubrir las necesidades 
                  tecnológicas de cualquier empresa.</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->

    </section>
    <!-- 1st Hero Variation -->
  </div>
</main>
