
<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-10">
              <h1 class="display-3  text-white">J-tecnology
                <span>Visión</span>
              </h1>
                <h4 class="text-white">Pretendemos ser un referente en el mercado nacional en el sector de las TIC, 
                  y para ello abarcaremos todos los servicios que ofrecemos actualmente incrementando 
                  los que vayan surgiendo debido a la necesidad de cambio provocado por los avances 
                  tecnológicos. 
                  Esto es así ya que somos una empresa en constante innovación ya que el sector de la 
                  tecnología así lo requiere.</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->

    </section>
    <!-- 1st Hero Variation -->
  </div>

</main>
